/* Setting custom variables for the application*/
:root {
  --colour-plant-green: #74A860;
  --colour-subtle-green: #EFF7EB;
  --colour-yellow-green: #DAED93;
  --colour-sale-red: #C5312D;
}

/* * {
  box-sizing: border-box;
  color: #333;
} */

html, body {
  margin: 0;
  min-height: 100vh;
}

body {
  background-color: var(--colour-subtle-green) !important;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.navbar{
  background: var(--colour-plant-green);
}

.navbar-header {
  float: left;
  width: auto!important;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: white !important;
}

.nav-icons{
  min-width: 150px;
}

.nav-icons-items{
  max-width: 40px !important;
  display: inline-block !important;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 5px;
  text-decoration: none;
}

li a:hover {
  color: white;
}

.svg-rotate {
  transform: rotate(45deg);
}

.img-category{
  width: 80%;
  height: 8vh;
  object-fit: cover;
}

.img-product-small{
  object-fit: contain;
  height: 7vh;
}

.img-product-circle-small{
  object-fit: cover;
  width: 7vh;
  height: 7vh;
}

.img-product{
  object-fit: contain;
  height: 12vh;
}

.img-product-circle{
  object-fit: cover;
  width: 12vh;
  height: 12vh;
}

.img-product-large{
  height: 30vh !important;
}

.img-product-large-circle{
  height: 30vh !important;
  width: 30vh !important;
}

.img-product-medium{
  object-fit: contain;
  height: 12vh;
}

.img-product-medium-circle{
  object-fit: cover;
  width: 12vh;
  height: 12vh;
}

.img-product-small{
  object-fit: contain;
  height: 10vh;
}

.img-product-small-circle{
  object-fit: cover;
  width: 8vh;
  height: 8vh;
}


.button-colour{
  background-color: var(--colour-yellow-green) !important;
}

.button-colour-subtle{
  background-color: var(--colour-subtle-green) !important;
}

.sale-text{
  color: var(--colour-sale-red);
}


.nav-pills > .active > a,
.nav-pills .nav-link.active,
.nav-pills > .active > a:hover,.nav-pills > li > a:hover {
text-decoration: none;
font-weight: bold;
border-radius:0px;
border-bottom-width: 4px;
border-bottom-style: solid;
border-bottom-color: var(--colour-plant-green);
color: black !important;
background-color: transparent !important;
}

.text-underline-green{
  max-width: fit-content;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: var(--colour-plant-green);
  color: black !important;
}

.nav-pills > li > a{
    border-radius:0px;
    color: #4B4E52;
}


.loader {
  font-size: 35px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.mini.loading-pane {
  height: 34px;
}

.mini .loader {
  font-size: 34px;
}

.loading-pane {
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 15px;
}

.footer-pin{
  background-color: var(--colour-plant-green) !important;
  color: white !important;
  position: relative;
  left: 0;
  bottom: 0;
}

.content-container {
  min-height: calc(100vh - 120px);
}


.category-button{
  color: black;
  text-decoration: none;
  display:block;
  width:100%;
}

.category-button a{
width:max-content !important;
}


.scrollmenu {
  overflow: auto !important;
  white-space: nowrap !important;
  flex-wrap: nowrap !important;
}

.heart-icon:hover path {
  fill:#74A860;
  color:#74A860;
}

.heart-icon-fill {
  fill:#74A860;
}

.search-input-style{
  border-radius: 25px 0 0 25px !important;
}

.search-icon-style{
  border-radius: 0 25px 25px 0 !important;
  background-color: white !important;
}


.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

.overlay-text{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: black !important;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

.overlay-text-string{
  color: white !important;
}

.card-blur {
  filter:grayscale(0.2);
  opacity: 0.4;
}


.category-pill{
  background-color: var(--colour-plant-green);
}

.breadcrumb{
  margin-bottom: 0 !important;
}

.green-text{
  color: var(--colour-plant-green);
}

.icon-disabled {
  opacity: 0.6;
  cursor: not-allowed;
  pointer-events: none;
}

.valid-feedback{
  display:block !important;
}

.invalid-feedback{
  display:block !important;
}

.back-yellow-green{
  background-color: var(--colour-yellow-green) !important;
}

.pagination {
  display: flex;
  list-style: none;
  cursor: pointer;
  margin-bottom: 0px;
}

.pagination a {
  padding: 10px;
  margin-left: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  border: 1px solid var(--colour-plant-green);
  color: var(--colour-plant-green);
}

.pagination__link {
  font-weight: bold;
  background: white;
}

.pagination__link--active a {
  color: #fff;
  background: var(--colour-plant-green);
}

.pagination__link--disabled a {
  color: rgb(198, 197, 202);
  border: 1px solid rgb(198, 197, 202);
}


/*  PART OF OLD PROJECT - DELETE/CHECK */


#modal a {
  display: inline-block;
  margin-right: 15px;
  text-decoration: none;
}

#modal {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal:empty {
  display: none;
}

#modal > div {
  background-color: white;
  max-width: 100%;
  padding: 15px;
  border-radius: 25px;
  background: white;
}


@media only screen and (max-width: 1129px) {
  header {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 95%;
    margin: 0 auto;
    padding: 20px 0px 0px 0px;
  }
}

